
    <form action="emp/save" method="POST">
        <label>Emp ID</label><br>
        <input type="text" name="empno"><br>
        <label>Name</label><br>
        <input type="text" name="name"><br>
        <label>Address</label><br>
        <input type="text" name="address"><br>
        <label>Salary </label><br>
        <input type="text" name="salary"><br>
        <input type="submit" value="save">
    </form>
